@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

.grecaptcha-badge {
  display: none !important;
  pointer-events: none !important;
  opacity: none !important;
}

mark {
  border-radius: 4px;
  background-color: var(--yellow);
}

.jumbotron {
	background-image: linear-gradient(135deg, scale-color(#247BA0, $lightness: 70%), scale-color(#F3FFBD, $lightness: 50%));
}